/* CSS declarations go here */
@import "{poetic:materialize-scss}/sass/components/_color.scss";
@import url("http://overpass-30e2.kxcdn.com/overpass.css");
// Change any SASS variables here
$primary-color: #111111;
$secondary-color: rgba(204,0,0,1) !default;
// Dropdown variables for headerSearch and Top-right ShadowMan
$dropdown-bg-color: #111111 !default;
$dropdown-hover-bg-color: rgba(255,255,255,0.2) !default;
$dropdown-color: #fff !default;

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

//Place normal CSS below here. Most attributes need !important
.WBDarkGreyBackground{
    background: #111111 !important;
}
.WBDarkGrey{
    color: #111111 !important;
}
.WBRedBackground{
    background: #CC0000 !important;
}
.WBRed{
    color: #CC0000 !important;
}

// PLACEHOLDER TEXTS
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #555;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #555;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #555;
}
:-moz-placeholder { /* Firefox 18- */
    color: #555;
}


html, body {
    background: url("images/background_workbench_fade.jpg") no-repeat, #111;
    background-size: 100% auto;
    min-width: 320px;
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Overpass", sans-serif !important;
}
header {
    height: 12vh !important;
    margin: 0 !important;
    padding: 2vh 2vw 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
#searchDropdown  {
    top: 2rem !important;
}

#main {
    margin: 0 auto !important;
}
main {
    min-height: calc(78vh - 1px)
}

#footer{
    max-height: 8vh !important;
    background: #111111 !important;
    margin: 0 !important;
}
footer{
    height: 8vh;
    padding: 0 !important;
    margin: 0 !important;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}
p {
    font-size: 1em;
}

.menu-card {
    max-width: 25vw;
}

/* Table Settings */
table {
    margin: 0 auto !important;
}
.tableDiv {
    max-height: calc(95vh - 250px) !important;
    min-height: 100px !important;
    overflow: auto !important;
}

/* holds a bunch of cards */
.stats-container {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card-container {
    max-height: 35vh;
    min-width: 25vw;
    overflow: scroll;
    padding: 0 1vw;
}

.tiny-button-inactive {
    margin-top: 1rem;
    padding: 0 0.3rem;
    color: #C00;
    background-color: #FFF;
    border: 1px solid;
    border-radius: 1rem;
}

.tiny-button-active {
    margin-top: 1rem;
    padding: 0 0.3rem;
    color: #FFF;
    background-color: #C00;
    border: 1px solid;
    border-radius: 1rem;
}
button:focus {
    background-color: inherit !important;
}

.Chart {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.barHolder {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.barHolder span {
    width: 3rem;
}
.barHolder div {
    background-color: #C00;
    color: #FFF;
    margin: 1px;
    padding: 3px;
}

#MapHolder {
    position: relative;
    width: 400px;
    height: 300px;
}

// Change the text color from Grey to White when a label's checkbox is checked
[type="checkbox"]:checked + label {
    color: white;
}

// Make the select dropdown's caret red
.caret {
    color: #C00 !important;
}

//Make the MetroArea Input not so blindingly bright!
//#metroAreaSearch:focus {
//    background-color: rgba(255,255,255,0.1);
//}

